[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/powr4e/Desktop/Grand Theft Auto San Andreas.desktop]
row=3
col=0

[/home/powr4e/Desktop/net.lutris.league-of-legends-1.desktop]
row=0
col=0

[/home/powr4e/Desktop/Human Fall Flat.desktop]
row=1
col=0

[/home/powr4e/Desktop/Steam Linux Runtime 3.0 (sniper).desktop]
row=2
col=0

