* {
    font-family: CaskaydiaCove Nerd Font;
    /*font-family: manrope;*/
    font-size: 12px;
    font-weight: bold;
}

window#waybar {
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background-color: #242424;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    background-color: #5f3343;
    border-radius: 0px;
    color: #cecece;
    padding: 0px
}


#workspaces button.focused {
    color: #ffffff;
    border-top: 2px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#window,
#custom-activities,
#taskbar,
#custom-space,
#custom-endr,
#custom-endl,
#workspaces,
#idle_inhibitor{
    background-color: #5f3343;
    border-radius: 0px;
    padding: 0px 2px 0px 2px;
    margin: 4px 0px 4px 0px;
    color: #ffffff;
    
}

#tray {

    padding: 0 10px 0 10px;
    margin-right: 5px;
    border-radius: 50px;

}

#custom-space {
    background-color: #5f3343;
    padding: 0px 10px 0px 10px;
    color: #ffffff;
}

#taskbar {
    background-color: #5f3343;
    color: #ffffff;
    border-radius: 0px;
}

#taskbar button {
    color: #ffffff;
    background-color: #5f3343;
    padding: 0px 1px 0px 4px;
}
#taskbar button.active {
    background-color: #5f3343;
    border-top: 2px solid #ffffff;
    border-radius: 0px;
}

#custom-endr{
    padding-right: 10px;   
    border-radius: 0 50px 50px 0;
}

#custom-endl{
    padding-left: 10px;
    border-radius: 50px 0 0 50px;
}

