* {
    font-family: CaskaydiaCove Nerd Font;
    /*font-family: manrope;*/
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.2);
    /*background-color: #242424;*/
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    background-color: #222222;
    border-radius: 0px;
    color: #cecece;
    padding: 0px
}

#workspaces button.active {
    color: #ffffff;
    background-color: #222222;
    border-top: 2px solid #ffffff;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#window,
#custom-activities,
#taskbar,
#custom-space,
#custom-endr,
#custom-endl,
#custom-nix,
#workspaces,
#taskbar,
#idle_inhibitor{
    background-color: #222222;
    border-radius: 0px;
    padding: 0px 10px 0px 10px;
    margin: 4px 0px 4px 0px;
    color: #ffffff;
    
}

#tray {

    padding: 0 10px 0 10px;
    margin-right: 5px;
    border-radius: 5px;

}

#custom-nix {
    font-size: 20px;
}

#taskbar {
    color: #ffffff;
    border-radius: 0px;
}

#taskbar button {
    color: #ffffff;
    padding: 0px 1px 0px 4px;
}
#taskbar button.active {
    border-top: 2px solid #ffffff;
    border-radius: 0px;
}

#custom-endr{
    padding-right: 10px;   
    border-radius: 0 5px 5px 0;
}

#custom-endl{
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
}

