* {
    font-family: CaskaydiaCove Nerd Font;
    /*font-family: manrope;*/
    font-size: 13px;
    font-weight: bold;
    /*padding: 2px;
    margin: 2px;*/
}

window#waybar {
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background-color: #1f1f28;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    background-color: #1f1f28;
    border-radius: 0px;
    color: #cecece;
    padding: 0px;
    margin: 2px;
}

#workspaces button.focused {
    color: #1f1f28;
    background-color: #ffffff;
    margin: 2px;
}

#custom-nix,
#workspaces,
#pulseaudio,
#backlight,
#battery,
#temperature,
#language,
#clock,
#tray,
#idle_inhibitor{
    background-color: #1f1f28;
    border-radius: 0px;
    padding: 2px;
    margin: 0px 10px 0px 10px;
    color: #ffffff;
    
}

#pulseaudio {
    color: #cc241d;
}

#backlight {
    color: #98971a;
}

#battery {
    color: #d79921;
}

#temperature {
    color: #b16286;
}

#language {
    color: #689d6a;
}

#clock {
    color: #458588;
}

#tray {
    color: #a89984;
}

#custom-nix {
    background-color: #ffffff;
    font-size: 20px;
}

#taskbar button {
    color: #ffffff;
    padding: 0px 1px 0px 4px;
}
#taskbar button.active {
    border-top: 2px solid #ffffff;
    border-radius: 0px;
}

